body { margin:0; padding:0; font-size:100%; line-height:1; display: grid }


body {
    width: 100%;
    display: grid;
    grid: "a a a" "b c d" "e e e";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 500px 100px;

}

#a {
    background-color: yellowgreen;
    grid-area: a;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#b {
    background-color: plum;
    grid-area: b;
    grid-row: 2;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

#c {
    background-color: peachpuff;
    grid-area: c;
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;

}

#d {
    background-color: plum;
    grid-area: d;
    grid-row: 2;
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;

}

#e {
    background-color: yellowgreen;
    grid-area: e;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;

}